<h1>Books</h1>
<hr>

{{#each books}}
<div>
  <h3>{{title}}</h3>
  <p>{{description}}</p>
  <p>By: {{author}}</p>
  <a href="/books/{{_id}}">See details</a>
  <a href="/books/{{_id}}/edit">Edit</a>
  <form action="/books/{{_id}}/delete" method="POST">
    <button>Delete</button>
  </form>
</div>
<hr>
{{/each}}