<h1>Movies</h1>
<hr>
<div class="row">
  {{#each movies}}
    <div class="col-md-4 mb-5">
      <div class="card" style="width: 18rem;">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{description}}</p>
          <a href="/movies/{{id}}/edit" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>
  {{else}}
    <p>There are no movies yet!</p>
  {{/each}}
  <hr />
</div>