<div class="movie-container">
    <h1><u>Movie page</u></h1>
    <br/>
    <div class="description">
        <span><u>{{movie.Title}}</u> </span>
        <br/>
        <img src="{{movie.Poster}}" width="100px" height="100px"/>
        <br/>
        <span>Description {{movie.Plot}}</span>
        <br/>
        <span>Released in {{movie.Year}}</span>
        <br>
        <span>Written by {{movie.Writer}}</span>
    </div> 
</div>
