<div class="col-md-4">
  <div class="card">
    <img class="card-img-top" src="{{this.photo}}" alt="{{this.name}} {{this.lastName}}"/>
    <div class="card-body">
      <h5 class="card-title">{{this.name}} {{this.lastName}}</h5>
      <p class="card-text">{{this.team}}</p>
    </div>
  </div>
</div>