<div class="results-container">
    <h1><u>Search Results Page</u></h1>
    <br>
    <p>You're looking for {{movieName}}, there was {{totalResults}} movies matching your search</p>
    <br>
    <ul class="movie-list">
        {{#each Search}}
        <li>
            <div class="description">
                <span><u>{{this.Title}}</u> </span>
                <br/>
                <a href="/movie/{{this.imdbID}}"><img src="{{this.Poster}}" width="100px" height="100px"/></a> 
                <br/>
                <span>Released in {{this.Year}}</span>
            </div> 
        </li>
        {{/each}}
    </ul>
</div>